<mat-card appearance="outlined" class="mat-cardo">
  <mat-card-content><mat-toolbar color="accent" style="height: 2em;">
      <span>Minha Pokedex</span>
  </mat-toolbar>
  <div *ngIf="pokemon$ | async as poke; else loading">
<table mat-table [dataSource]="poke" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{ element.nome }} </td>

  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> descrição </th>
    <td mat-cell *matCellDef="let element"> {{ element.descricao }}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef> descrição </th>
    <td mat-cell *matCellDef="let element"> {{ element.tipo }} <mat-icon aria-hidden="false" aria-label="Categoria"> {{ element.tipo | category }}</mat-icon></td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-mini-fab aria-label="Adicionar Curso" color="primary">
        <mat-icon (click)="onAdd()">add</mat-icon>
      </button>
    </th>

    <td mat-cell *matCellDef="let pokemon">
      <button mat-icon-button aria-label="Editar Curso">
        <mat-icon>edit</mat-icon> <!-- Use um ícone mais apropriado -->
      </button>
      <button mat-icon-button aria-label="Remover Curso" color="warn">
        <mat-icon>delete</mat-icon> <!-- Use um ícone mais apropriado -->
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<ng-template #loading>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

</mat-card-content>
</mat-card>

