<mat-card appearance="outlined">
  <mat-card-content style="padding: 1rem;">Entrada de Pokémons na Nationaldex</mat-card-content>
<form [formGroup] = 'form'>
  <mat-form-field style="width: 90%;">
    <mat-label>Nome:</mat-label>
    <input matInput formControlName="nome">
  </mat-form-field>

  <mat-form-field style="width: 90%;">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="tipo">
      <mat-option value="fire">Fire</mat-option>
      <mat-option value="eletric">Electric</mat-option>
      <mat-option value="Agua">Agua</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 90%;">
    <mat-label>Descrição</mat-label>
    <textarea matInput formControlName="descricao" rows="5" style="resize: none;"></textarea> <!-- Aqui está o textarea -->
  </mat-form-field>

  <mat-card-actions>
    <button mat-button color="accent" (click)="onSubmit()">Salvar</button>
    <button mat-button color="warn" (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</form>
</mat-card>
